/* line 1, ../../app/stylesheets/application.sass */

body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

/* line 6, ../../app/stylesheets/application.sass */

a {
  color: blue;
  img {
    border: none; } }

/* line 7, ../../app/stylesheets/application.sass */

/* line 11, ../../app/stylesheets/application.sass */

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

/* line 16, ../../app/stylesheets/application.sass */

#container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

/* line 24, ../../app/stylesheets/application.sass */

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px; }

/* line 30, ../../app/stylesheets/application.sass */

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

/* line 34, ../../app/stylesheets/application.sass */

#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

/* line 38, ../../app/stylesheets/application.sass */

.fieldWithErrors {
  display: inline; }

/* line 41, ../../app/stylesheets/application.sass */

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
  p {
    margin: 8px 10px; }
  ul {
    margin: 0; } }

/* line 49, ../../app/stylesheets/application.sass */

/* line 57, ../../app/stylesheets/application.sass */

/* line 59, ../../app/stylesheets/application.sass */

/* line 62, ../../app/stylesheets/application.sass */

#user_nav {
  float: right;
  margin-bottom: 10px; }

/* line 66, ../../app/stylesheets/application.sass */

.authentications {
  margin-bottom: 30px; }

/* line 69, ../../app/stylesheets/application.sass */

.authentication {
  width: 130px;
  float: left;
  background-color: #eeeeee;
  border: solid 1px #999999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
  .remove {
    text-decoration: none;
    position: absolute;
    top: 3px;
    right: 3px;
    color: #333333;
    padding: 2px 4px;
    font-size: 10px;
    &:hover {
      color: #cccccc;
      background-color: #777777;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px; } }
  img {
    float: left;
    margin-right: 10px; }
  .provider {
    font-weight: bold; }
  .uid {
    color: #666666;
    font-size: 10px; }
  .nickname {
    color: #666666;
    font-size: 12px; } }

/* line 79, ../../app/stylesheets/application.sass */

/* line 87, ../../app/stylesheets/application.sass */

/* line 92, ../../app/stylesheets/application.sass */

/* line 95, ../../app/stylesheets/application.sass */

/* line 97, ../../app/stylesheets/application.sass */

/* line 100, ../../app/stylesheets/application.sass */

/* line 104, ../../app/stylesheets/application.sass */

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
  img {
    display: block; } }

/* line 105, ../../app/stylesheets/application.sass */
